Repository d2verb/alpaca: changes, and which lefthook commands are due for each by the changed paths.
All: goimports, golangci-lint, swift-format

goimports:
  run: goimports -w {staged_files}
  stage_fixed: true

golangci-lint:
  run: golangci-lint run --fix {staged_files}
  stage_fixed: true

swift-format:
  run: swift-format -i {staged_files}
  stage_fixed: true

📝 Add nesting depth guideline to coding rules
  .claude/rules/general-coding.md
Due: none

✨ Add macOS menu bar GUI skeleton
  .gitignore
  gui/Alpaca/Alpaca.xcodeproj/project.pbxproj
  gui/Alpaca/Alpaca.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  gui/Alpaca/Alpaca.xcodeproj/xcshareddata/xcschemes/Alpaca.xcscheme
  gui/Alpaca/Alpaca/AlpacaApp.swift
  gui/Alpaca/Alpaca/Assets.xcassets/AccentColor.colorset/Contents.json
  gui/Alpaca/Alpaca/Assets.xcassets/AppIcon.appiconset/Contents.json
  gui/Alpaca/Alpaca/Assets.xcassets/Contents.json
  gui/Alpaca/Alpaca/Info.plist
  gui/Alpaca/Alpaca/Models/DaemonState.swift
  gui/Alpaca/Alpaca/Models/Preset.swift
  gui/Alpaca/Alpaca/Services/DaemonClient.swift
  gui/Alpaca/Alpaca/ViewModels/AppViewModel.swift
  gui/Alpaca/Alpaca/Views/PresetMenuView.swift
  gui/Alpaca/Alpaca/Views/StatusMenuView.swift
  gui/Alpaca/AlpacaTests/AlpacaTests.swift
Due: swift-format

♻️ Replace SwiftUI MenuBarExtra with NSMenu
  gui/Alpaca/Alpaca.xcodeproj/project.pbxproj
  gui/Alpaca/Alpaca/AlpacaApp.swift
  gui/Alpaca/Alpaca/AppDelegate.swift
  gui/Alpaca/Alpaca/Views/PresetMenuView.swift
  gui/Alpaca/Alpaca/Views/StatusMenuView.swift
Due: swift-format

✨ Implement CLI commands with daemon integration
  .claude/rules/general-coding.md
  .claude/rules/go-coding.md
  .claude/rules/swift-coding.md
  cmd/alpaca/main.go
  gui/Alpaca/Alpaca.xcodeproj/project.pbxproj
  gui/Alpaca/Alpaca.xcodeproj/xcshareddata/xcschemes/Alpaca.xcscheme
Due: goimports, golangci-lint

✅ Add unit tests for preset, protocol, and config packages
  .claude/rules/general-testing.md
  .claude/rules/go-testing.md
  CLAUDE.md
  internal/config/config_test.go
  internal/preset/loader_test.go
  internal/preset/preset_test.go
  internal/protocol/protocol_test.go
Due: goimports, golangci-lint

✅ Add client package tests
  .claude/rules/general-testing.md
  internal/client/client_test.go
Due: goimports, golangci-lint

✨ Implement GUI-daemon Unix socket communication
  gui/Alpaca/Alpaca/AppDelegate.swift
  gui/Alpaca/Alpaca/Services/DaemonClient.swift
  gui/Alpaca/Alpaca/ViewModels/AppViewModel.swift
Due: swift-format

✨ Add menu-open status refresh
  gui/Alpaca/Alpaca/AppDelegate.swift
Due: swift-format

✅ Add AppViewModel and DaemonError tests
  Taskfile.yml
  gui/Alpaca/Alpaca.xcodeproj/xcshareddata/xcschemes/Alpaca.xcscheme
  gui/Alpaca/AlpacaTests/AlpacaTests.swift
Due: swift-format

✨ Implement alpaca pull command for HuggingFace downloads
  cmd/alpaca/main.go
  cmd/alpaca/main_test.go
  internal/pull/pull.go
  internal/pull/pull_test.go
Due: goimports, golangci-lint

✨ Add daemon background mode and logging infrastructure
  cmd/alpaca/main.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/daemon/daemon.go
  internal/daemon/pid.go
  internal/daemon/pid_test.go
  internal/llama/process.go
  internal/logging/logging.go
  internal/logging/logging_test.go
Due: goimports, golangci-lint

✨ Implement CLI refactoring with model management
  IMPLEMENTATION_SUMMARY.md
  cmd/alpaca/main.go
  docs/design/cli.md
  internal/client/client.go
  internal/config/config.go
  internal/config/config_test.go
  internal/daemon/daemon.go
  internal/daemon/server.go
  internal/metadata/metadata.go
  internal/metadata/metadata_test.go
  internal/model/model.go
  internal/model/model_test.go
  internal/preset/preset.go
  internal/protocol/protocol.go
  internal/pull/pull.go
  internal/pull/pull_test.go
Due: goimports, golangci-lint

♻️ Add context.Context to metadata and model packages
  cmd/alpaca/main.go
  internal/daemon/daemon.go
  internal/metadata/metadata.go
  internal/metadata/metadata_test.go
  internal/model/model.go
  internal/model/model_test.go
  internal/pull/pull.go
Due: goimports, golangci-lint

Add icon
  gui/Alpaca/Alpaca.xcodeproj/xcshareddata/xcschemes/Alpaca.xcscheme
  gui/Alpaca/Alpaca/Assets.xcassets/AppIcon.appiconset/Contents.json
  gui/Alpaca/Alpaca/Assets.xcassets/AppIcon.appiconset/alpaca-icon.png
Due: none

✨ Add model loading support to GUI menu bar app
  gui/Alpaca/Alpaca.xcodeproj/project.pbxproj
  gui/Alpaca/Alpaca/AppDelegate.swift
  gui/Alpaca/Alpaca/Models/Model.swift
  gui/Alpaca/Alpaca/Services/DaemonClient.swift
  gui/Alpaca/Alpaca/ViewModels/AppViewModel.swift
  gui/Alpaca/AlpacaTests/AlpacaTests.swift
  internal/daemon/daemon.go
  internal/daemon/server.go
  internal/preset/loader.go
  internal/protocol/protocol.go
Due: goimports, golangci-lint, swift-format

🔥 Remove deprecated run/kill/pull commands and simplify CLI
  cmd/alpaca/main.go
  internal/client/client.go
  internal/client/client_test.go
  internal/daemon/server.go
  internal/protocol/protocol.go
  internal/protocol/protocol_test.go
Due: goimports, golangci-lint

♻️ Refactor CLI and Swift GUI for better maintainability
  CLAUDE.md
  cmd/alpaca/cmd_load.go
  cmd/alpaca/cmd_model.go
  cmd/alpaca/cmd_preset.go
  cmd/alpaca/cmd_start.go
  cmd/alpaca/cmd_status.go
  cmd/alpaca/cmd_stop.go
  cmd/alpaca/cmd_unload.go
  cmd/alpaca/cmd_version.go
  cmd/alpaca/errors.go
  cmd/alpaca/errors_test.go
  cmd/alpaca/helpers.go
  cmd/alpaca/helpers_test.go
  cmd/alpaca/main.go
  docs/design/architecture.md
  docs/design/cli.md
  docs/design/directory-structure.md
  gui/Alpaca/Alpaca.xcodeproj/project.pbxproj
  gui/Alpaca/Alpaca/AppDelegate.swift
  gui/Alpaca/Alpaca/Services/DaemonClient.swift
  gui/Alpaca/Alpaca/Services/DaemonClientProtocol.swift
  gui/Alpaca/Alpaca/Services/DaemonError.swift
  gui/Alpaca/Alpaca/Services/DaemonResponse.swift
  gui/Alpaca/Alpaca/UI/MenuBuilder.swift
  gui/Alpaca/Alpaca/UI/StatusFormatter.swift
  gui/Alpaca/Alpaca/ViewModels/AppViewModel.swift
  gui/Alpaca/AlpacaTests/AlpacaTests.swift
  gui/Alpaca/AlpacaTests/Mocks/TestDaemonClient.swift
  internal/daemon/daemon.go
  internal/daemon/daemon_test.go
  internal/llama/process.go
  internal/llama/process_test.go
Due: goimports, golangci-lint, swift-format

task fmt
  internal/daemon/daemon_test.go
Due: goimports, golangci-lint

✨ Add logs command to view daemon and server logs
  cmd/alpaca/cmd_logs.go
  cmd/alpaca/main.go
Due: goimports, golangci-lint

✨ Add explicit identifier prefixes (h:, p:, f:) for model loading
  IMPLEMENTATION_SUMMARY.md
  README.md
  cmd/alpaca/cmd_load.go
  cmd/alpaca/cmd_model.go
  docs/design/architecture.md
  docs/design/cli.md
  docs/design/preset-format.md
  gui/Alpaca/Alpaca/Models/Model.swift
  gui/Alpaca/Alpaca/Models/Preset.swift
  gui/Alpaca/Alpaca/UI/MenuBuilder.swift
  gui/Alpaca/Alpaca/ViewModels/AppViewModel.swift
  gui/Alpaca/AlpacaTests/AlpacaTests.swift
  internal/daemon/daemon.go
  internal/daemon/daemon_test.go
  internal/identifier/identifier.go
  internal/identifier/identifier_test.go
  internal/preset/preset.go
  internal/preset/preset_test.go
Due: goimports, golangci-lint, swift-format

✨ Add colored CLI output with status badges
  cmd/alpaca/cmd_load.go
  cmd/alpaca/cmd_model.go
  cmd/alpaca/cmd_preset.go
  cmd/alpaca/cmd_start.go
  cmd/alpaca/cmd_status.go
  cmd/alpaca/cmd_stop.go
  cmd/alpaca/cmd_unload.go
  go.mod
  go.sum
  internal/ui/ui.go
  internal/ui/ui_test.go
Due: goimports, golangci-lint

✨ Add "Open in Browser" menu item to GUI
  docs/design/gui.md
  gui/Alpaca/Alpaca/AppDelegate.swift
  gui/Alpaca/Alpaca/UI/MenuBuilder.swift
Due: swift-format

📝 Update gui.md to match actual implementation
  docs/design/gui.md
Due: none

🎨 Change menu bar icon from hare to brain
  docs/design/gui.md
  gui/Alpaca/Alpaca/AppDelegate.swift
Due: swift-format

✨ Add preset show command
  cmd/alpaca/cmd_preset.go
  internal/ui/ui.go
  internal/ui/ui_test.go
Due: goimports, golangci-lint

✨ Add preset new command and improve CLI UX
  CLAUDE.md
  cmd/alpaca/cmd_load.go
  cmd/alpaca/cmd_model.go
  cmd/alpaca/cmd_preset.go
  cmd/alpaca/helpers.go
  cmd/alpaca/main.go
  docs/design/mvp.md
  internal/daemon/daemon_test.go
  internal/protocol/protocol.go
Due: goimports, golangci-lint

♻️ Add structured error codes to daemon protocol
  cmd/alpaca/cmd_load.go
  gui/Alpaca/Alpaca/Services/DaemonClient.swift
  gui/Alpaca/Alpaca/Services/DaemonError.swift
  gui/Alpaca/Alpaca/Services/DaemonResponse.swift
  internal/daemon/server.go
  internal/protocol/protocol.go
Due: goimports, golangci-lint, swift-format

🐛 Fix GUI not displaying load error messages
  gui/Alpaca/Alpaca/ViewModels/AppViewModel.swift
  gui/Alpaca/AlpacaTests/AlpacaTests.swift
  gui/Alpaca/AlpacaTests/Mocks/TestDaemonClient.swift
Due: swift-format

🚀 Use atomic operations for lock-free state reads
  gui/Alpaca/Alpaca/ViewModels/AppViewModel.swift
  internal/daemon/daemon.go
  internal/daemon/daemon_test.go
Due: goimports, golangci-lint, swift-format

✅ Add comprehensive tests for daemon Run and Kill methods
  gui/Alpaca/Alpaca/UI/StatusFormatter.swift
  internal/daemon/daemon.go
  internal/daemon/daemon_test.go
Due: goimports, golangci-lint, swift-format

✅ Add comprehensive tests for daemon server handlers
  docs/design/cli.md
  internal/daemon/daemon_test.go
  internal/daemon/server_test.go
Due: goimports, golangci-lint

📝 Update documentation to match current implementation
  CLAUDE.md
  README.md
  docs/design/architecture.md
  docs/design/cli.md
  docs/design/preset-format.md
Due: none

✅ Add comprehensive tests for llama health check functions
  internal/llama/health_test.go
Due: goimports, golangci-lint

🐛 Clear error message only when model is running
  gui/Alpaca/Alpaca/ViewModels/AppViewModel.swift
Due: swift-format

✅ Add comprehensive Swift tests for DaemonClient and DaemonResponse
  CLAUDE.md
  gui/Alpaca/Alpaca.xcodeproj/project.pbxproj
  gui/Alpaca/AlpacaTests/DaemonClientLogicTests.swift
  gui/Alpaca/AlpacaTests/DaemonResponseTests.swift
Due: swift-format

✅ Add comprehensive Swift tests for MenuBuilder and StatusFormatter
  gui/Alpaca/Alpaca.xcodeproj/project.pbxproj
  gui/Alpaca/AlpacaTests/MenuBuilderTests.swift
  gui/Alpaca/AlpacaTests/StatusFormatterTests.swift
Due: swift-format

🐛 Fix test expectations to match actual implementation
  gui/Alpaca/AlpacaTests/MenuBuilderTests.swift
  gui/Alpaca/AlpacaTests/StatusFormatterTests.swift
Due: swift-format

📝 Add CI badges and brand logo to README
  README.md
Due: none

📝 Remove inaccurate Homebrew installation instruction
  README.md
Due: none

🔧 Update CI to Go 1.25 and golangci-lint-action v9
  .github/workflows/ci.yml
  docs/design/config-templates.md
  docs/design/development.md
Due: none

Path conditions:
  goimports: any of: *.go
  golangci-lint: any of: *.go
  swift-format: any of: *.swift
