Repository d2verb/alpaca: changes, and which lefthook commands are due for each by the changed paths.
All: goimports, golangci-lint, swift-format

goimports:
  run: goimports -w {staged_files}
  stage_fixed: true

golangci-lint:
  run: golangci-lint run --fix {staged_files}
  stage_fixed: true

swift-format:
  run: swift-format -i {staged_files}
  stage_fixed: true

♻️ Address review feedback on security verification
  .github/workflows/release.yml
  internal/pull/pull_integration_test.go
  internal/selfupdate/updater.go
  internal/selfupdate/updater_integration_test.go
Due: goimports, golangci-lint

✅ Use fake platform name in TestUpdate_AssetNotFound
  internal/selfupdate/updater_integration_test.go
Due: goimports, golangci-lint

📝 Fix stale documentation to match current implementation
  docs/design/architecture.md
  docs/design/cli.md
  docs/design/directory-structure.md
Due: none

✨ Implement preset format v2 with unified options map
  .claude/settings.json
  README.md
  cmd/alpaca/cmd_new.go
  cmd/alpaca/cmd_new_test.go
  cmd/alpaca/cmd_show.go
  cmd/alpaca/cmd_show_test.go
  docs/design/architecture.md
  docs/design/cli.md
  docs/design/preset-format.md
  internal/daemon/daemon.go
  internal/daemon/daemon_test.go
  internal/preset/loader_test.go
  internal/preset/preset.go
  internal/preset/preset_test.go
  internal/ui/ui.go
  internal/ui/ui_test.go
Due: goimports, golangci-lint

🔧 Address PR review feedback
  .claude/settings.json
  .gitignore
  docs/design/preset-format.md
Due: none

♻️ Migrate pull package from /api/models/ to /v2/manifests/ API
  internal/pull/pull.go
  internal/pull/pull_integration_test.go
  internal/pull/pull_test.go
Due: goimports, golangci-lint

✨ Add multimodal (vision/audio) support via mmproj
  cmd/alpaca/cmd_list.go
  cmd/alpaca/cmd_load.go
  cmd/alpaca/cmd_remove.go
  cmd/alpaca/cmd_show.go
  cmd/alpaca/cmd_show_test.go
  cmd/alpaca/cmd_status.go
  cmd/alpaca/helpers.go
  docs/design/cli.md
  docs/design/directory-structure.md
  docs/design/preset-format.md
  internal/daemon/daemon.go
  internal/daemon/daemon_resolve_test.go
  internal/daemon/daemon_router_test.go
  internal/daemon/daemon_test.go
  internal/daemon/daemon_testhelpers_test.go
  internal/daemon/server.go
  internal/daemon/server_test.go
  internal/metadata/metadata.go
  internal/metadata/metadata_test.go
  internal/model/model.go
  internal/model/model_test.go
  internal/preset/loader.go
  internal/preset/loader_test.go
  internal/preset/preset.go
  internal/preset/preset_test.go
  internal/pull/pull.go
  internal/pull/pull_integration_test.go
  internal/pull/pull_mmproj.go
  internal/ui/ui.go
  internal/ui/ui_test.go
Due: goimports, golangci-lint

🔧 Address PR review feedback
  README.md
  internal/preset/preset.go
  internal/preset/preset_test.go
  internal/pull/pull_integration_test.go
Due: goimports, golangci-lint

♻️ Address code review fixes across CLI and daemon
  cmd/alpaca/cmd_load.go
  cmd/alpaca/cmd_upgrade.go
  cmd/alpaca/cmd_version.go
  cmd/alpaca/helpers.go
  gui/Alpaca/Alpaca.xcodeproj/project.pbxproj
  gui/Alpaca/AlpacaTests/DaemonClientLogicTests.swift
  internal/client/client.go
  internal/client/client_test.go
  internal/config/config.go
  internal/daemon/pid.go
  internal/daemon/server.go
  internal/llama/process.go
  internal/llama/process_test.go
  internal/preset/loader.go
  internal/selfupdate/updater.go
  internal/selfupdate/updater_integration_test.go
  internal/selfupdate/updater_test.go
  internal/ui/ui.go
  internal/ui/ui_test.go
Due: goimports, golangci-lint, swift-format

✨ Add per-file progress bars for mmproj downloads
  cmd/alpaca/helpers.go
  internal/pull/pull.go
Due: goimports, golangci-lint

🔧 Add CodeRabbit configuration
  .coderabbit.yaml
Due: none

🐛 Use actual download size for mmproj progress notification
  internal/pull/pull.go
  internal/pull/pull_mmproj.go
Due: goimports, golangci-lint

🐛 Add v prefix to current version in upgrade output
  cmd/alpaca/cmd_upgrade.go
Due: goimports, golangci-lint

🐛 Detect llama-server startup failure and avoid infinite hang
  cmd/alpaca/cmd_load.go
  internal/daemon/daemon.go
  internal/daemon/daemon_test.go
  internal/daemon/daemon_testhelpers_test.go
  internal/llama/health.go
  internal/llama/process.go
  internal/llama/process_test.go
Due: goimports, golangci-lint

♻️ Simplify daemon and llama packages
  internal/daemon/daemon.go
  internal/daemon/daemon_testhelpers_test.go
  internal/daemon/server.go
  internal/daemon/server_test.go
  internal/llama/health.go
  internal/llama/process.go
  internal/llama/process_integration_test.go
  internal/llama/process_test.go
Due: goimports, golangci-lint

🏗️ Redesign daemon locking with generation counter and snapshot
  internal/daemon/daemon.go
  internal/daemon/daemon_router_test.go
  internal/daemon/server.go
  internal/daemon/server_test.go
Due: goimports, golangci-lint

♻️ Split daemon.go and improve naming clarity
  internal/daemon/daemon.go
  internal/daemon/daemon_file.go
  internal/daemon/daemon_preset.go
  internal/daemon/daemon_router_status.go
Due: goimports, golangci-lint

🐛 Skip redundant resolveModel for HuggingFace presets
  internal/daemon/daemon_preset.go
Due: goimports, golangci-lint

🐛 Skip re-download when model is already up to date
  cmd/alpaca/helpers.go
  internal/pull/pull.go
  internal/pull/pull_integration_test.go
Due: goimports, golangci-lint

🐛 Require metadata entry before skipping download
  internal/pull/pull.go
  internal/pull/pull_integration_test.go
Due: goimports, golangci-lint

♻️ Reorder cheap checks before expensive SHA256 hash in checkAlreadyUpToDate
  internal/pull/pull.go
Due: goimports, golangci-lint

🔧 Pass repo-token to arduino/setup-task to avoid API rate limits
  .github/workflows/ci.yml
Due: none

♻️ Split large test files into focused, smaller files
  internal/daemon/daemon_kill_test.go
  internal/daemon/daemon_run_errors_test.go
  internal/daemon/daemon_run_success_test.go
  internal/daemon/daemon_run_transitions_test.go
  internal/daemon/daemon_state_test.go
  internal/daemon/daemon_test.go
  internal/daemon/server_dispatch_test.go
  internal/daemon/server_list_test.go
  internal/daemon/server_load_test.go
  internal/daemon/server_status_test.go
  internal/daemon/server_test.go
  internal/daemon/server_unload_test.go
  internal/preset/loader_crud_test.go
  internal/preset/loader_loadfile_test.go
  internal/preset/preset_buildargs_test.go
  internal/preset/preset_getters_test.go
  internal/preset/preset_name_test.go
  internal/preset/preset_test.go
  internal/preset/preset_validate_test.go
  internal/preset/preset_yaml_test.go
  internal/pull/pull_caching_test.go
  internal/pull/pull_core_test.go
  internal/pull/pull_helpers_test.go
  internal/pull/pull_integration_test.go
  internal/pull/pull_mmproj_test.go
  internal/pull/pull_repull_test.go
  internal/ui/ui_badges_test.go
  internal/ui/ui_details_test.go
  internal/ui/ui_lists_test.go
  internal/ui/ui_router_test.go
  internal/ui/ui_status_test.go
  internal/ui/ui_test.go
Due: goimports, golangci-lint

✅ Fix test robustness issues from PR review
  internal/daemon/server_list_test.go
  internal/daemon/server_status_test.go
  internal/preset/loader_crud_test.go
  internal/pull/pull_repull_test.go
Due: goimports, golangci-lint

📝 Add DeepWiki badge to README
  README.md
Due: none

Path conditions:
  goimports: any of: *.go
  golangci-lint: any of: *.go
  swift-format: any of: *.swift
